/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff8ee;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(91, 57, 38);
  font-size: 36px;
  font-weight: 700;
  border-bottom: 4px solid;
  margin-bottom: 0;
}

h2 {
  color: rgb(91, 57, 38);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  color:#7b6d61;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

label {
  color:#7b6d61;
  padding-left: 16px;
  padding-right: 16px;
  padding: 0.3rem 0;
}

button {
  background-color: #707092;
  padding: 0.5rem;
  color: #fff8ee;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.47);
  &:hover {
    cursor:pointer;
    background-color: #8c8cbb;
  }
  &:focus {
    position: relative;
    bottom: 2px;
  }
}

input {
  height: 1.5rem;
  width: 280px;
  border: 1px solid #84807b;
  border-radius: 3px;
}

.err {
  color: #ff4747;
}

select {
  min-height: 1.5rem;
  line-height: 1.5rem;
  width: 280px;
  border: 1px solid #84807b;
  border-radius: 3px;
}

.stanje-rac {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}